@font-face {
   font-family: 'Akzidenz-grotesk-bold';
   font-display: swap;
   src: url('file:///Users/wilhelm/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-02-08_173707/fonts/Akzidenz-grotesk-bold/font.ttf');
}
